.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: #FFFD8F;
}

.logout-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logout-box {
  background: #FDCFFA;
  padding: 25px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logout-status {
  font-size: 20px;
  margin-bottom: 15px;
  color: #444;
}

.logout-email {
  font-size: 18px;
  margin-top: 10px;
}
